@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="content">
    <h1>Bienvenido a Gestión de Usuarios DLA 🎯</h1>
    <p>Disfruta de nuestros servicios</p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector(".content").classList.add("show");
    });
</script>
