@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<a href="https://github.com/Ronny-Abreu" target="_blank">Derechos Reservados. </a>
