body {
    padding-top: 80px;
    background-image: url('/img/degraddo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}
